body {
  background: linear-gradient(to top, #232323, #141414);
  align-items: center;
  font-family: 'Lexend';
  justify-content: center;
  display: flex;
  color: white;
  margin: 0;
}

.our-logo {
  position: fixed;
  top: 10px;
  right: 10px;
}
.our-logo img {
  width: 50px;
  height: auto;
  cursor: pointer;
}
